#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-color: black;
  border-width: 6px;
  border-style: double;
  border-radius: 50%;
}

body {
  background-color: rgb(148, 151, 153);
  background-image: url("../images/100billbackground.png");
  text-align: center;
  margin: 0;
}

#main {
  display: inline-block;
  background-color: rgba(148, 151, 153, 0.55);
}

#tribute-info {
  display: table;
  margin: 0 auto;
}

ul {
  text-align: left;
  margin-left: 45px;
}

#sub-title {
  margin-top: -20px;
  margin-bottom: 0;
}

#img-caption {
  margin-top: 5px;
}
